
.cart-section{
    background-color: #1d1e20;
    width: 465%;
    height: 40%;
    padding: 9vh 1vh 0vh 1vh;
    margin: 3.7vh;
    margin-left: -6.4vh;
    border-radius: 14px;
    z-index: 100;
  }
  